# Project Proposal
Xavier Hummer, Jacob Kronlage, Ryan Perry    

---

In [1]:
# Import packages

import pandas as pd
import numpy as np

In [2]:
# Open initial Kaggle dataset into dataframe

initial_df = pd.read_csv('baseball.csv', encoding = 'utf-8')

# Confirm creation

initial_df

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,PHI,NL,1962,705,759,81,0.330,0.390,0.260,0,NaN,NaN,161,NaN,NaN
1228,PIT,NL,1962,706,626,93,0.321,0.394,0.268,0,NaN,NaN,161,NaN,NaN
1229,SFG,NL,1962,878,690,103,0.341,0.441,0.278,1,1.0,2.0,165,NaN,NaN
1230,STL,NL,1962,774,664,84,0.335,0.394,0.271,0,NaN,NaN,163,NaN,NaN
1231,WSA,AL,1962,599,716,60,0.308,0.373,0.250,0,NaN,NaN,162,NaN,NaN

In [3]:
# Identify all team abbreviations used in the dataset to help with mapping

initial_df['Team'].unique()

array(['ARI', 'ATL', 'BAL', 'BOS', 'CHC', 'CHW', 'CIN', 'CLE', 'COL',
       'DET', 'HOU', 'KCR', 'LAA', 'LAD', 'MIA', 'MIL', 'MIN', 'NYM',
       'NYY', 'OAK', 'PHI', 'PIT', 'SDP', 'SEA', 'SFG', 'STL', 'TBR',
       'TEX', 'TOR', 'WSN', 'FLA', 'TBD', 'ANA', 'MON', 'CAL', 'WSA',
       'SEP', 'KCA', 'MLN'], dtype=object)

In [4]:
# Identify current and historical team codes to create a new team name column

team_name_map = {
    'ARI': 'Arizona Diamondbacks',
    'ATL': 'Atlanta Braves',
    'BAL': 'Baltimore Orioles',
    'BOS': 'Boston Red Sox',
    'CHC': 'Chicago Cubs',
    'CIN': 'Cincinnati Reds',
    'CLE': 'Cleveland Indians',
    'COL': 'Colorado Rockies',
    'CHW': 'Chicago White Sox',
    'DET': 'Detroit Tigers',
    'FLA': 'Florida Marlins',
    'HOU': 'Houston Astros',
    'KCR': 'Kansas City Royals',
    'LAA': 'Los Angeles Angels',
    'LAD': 'Los Angeles Dodgers',
    'MIA': 'Miami Marlins',
    'MIL': 'Milwaukee Brewers',
    'MIN': 'Minnesota Twins',
    'MON': 'Montreal Expos',
    'NYM': 'New York Mets',
    'NYY': 'New York Yankees',
    'OAK': 'Oakland Athletics',
    'PHI': 'Philadelphia Phillies',
    'PIT': 'Pittsburgh Pirates',
    'SDP': 'San Diego Padres',
    'SEA': 'Seattle Mariners',
    'SFG': 'San Francisco Giants',
    'STL': 'St. Louis Cardinals',
    'TBR': 'Tampa Bay Rays',
    'TEX': 'Texas Rangers',
    'TOR': 'Toronto Blue Jays',
    'WSN': 'Washington Nationals',
    'FLA': 'Florida Marlins',        
    'TBD': 'Tampa Bay Devil Rays',   
    'ANA': 'Anaheim Angels',         
    'MON': 'Montreal Expos',         
    'CAL': 'California Angels',      
    'WSA': 'Washington Senators',    
    'SEP': 'Seattle Pilots',         
    'KCA': 'Kansas City Athletics',  
    'MLN': 'Milwaukee Braves'      
}

In [5]:
# Create the new column using the 'Team' column and mapping list

initial_df['Team Name'] = initial_df['Team'].map(team_name_map)
initial_df.head(5)

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,Team Name
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,Arizona Diamondbacks
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378,Atlanta Braves
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403,Baltimore Orioles
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428,Boston Red Sox
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424,Chicago Cubs

In [6]:
# Drop columns that are not useful for our research questions

initial_df.drop(['RankSeason','OOBP', 'OSLG'], axis = 1, inplace = True)
initial_df.head(5)

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankPlayoffs,G,Team Name
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,162,Arizona Diamondbacks
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,5.0,162,Atlanta Braves
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,4.0,162,Baltimore Orioles
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,162,Boston Red Sox
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,162,Chicago Cubs

In [7]:
# Change binary logic 0 and 1 values to 'No' and 'Yes' for whether teams made the playoffs

initial_df['Playoffs'] = initial_df['Playoffs'].astype('object') # Change data type
initial_df['Playoffs'] = initial_df['Playoffs'].map({1: 'Yes', 0: 'No'}).astype('object')
initial_df.head(5)

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankPlayoffs,G,Team Name
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,No,NaN,162,Arizona Diamondbacks
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,Yes,5.0,162,Atlanta Braves
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,Yes,4.0,162,Baltimore Orioles
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,No,NaN,162,Boston Red Sox
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,No,NaN,162,Chicago Cubs

In [8]:
# Rename columns to make the data easier to digest

initial_df = initial_df.rename(columns = {
    'RankPlayoffs': 'PlayoffsFinish',
    'W': 'Wins',
    'G': 'Games'
    
})

In [9]:
# Replace NaN values for column with blanks

initial_df['PlayoffsFinish'] = initial_df['PlayoffsFinish'].replace(np.nan, "")
initial_df

,Team,League,Year,RS,RA,Wins,OBP,SLG,BA,Playoffs,PlayoffsFinish,Games,Team Name
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,No,,162,Arizona Diamondbacks
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,Yes,5.0,162,Atlanta Braves
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,Yes,4.0,162,Baltimore Orioles
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,No,,162,Boston Red Sox
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,No,,162,Chicago Cubs
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,PHI,NL,1962,705,759,81,0.330,0.390,0.260,No,,161,Philadelphia Phillies
1228,PIT,NL,1962,706,626,93,0.321,0.394,0.268,No,,161,Pittsburgh Pirates
1229,SFG,NL,1962,878,690,103,0.341,0.441,0.278,Yes,2.0,165,San Francisco Giants
1230,STL,NL,1962,774,664,84,0.335,0.394,0.271,No,,163,St. Louis Cardinals
1231,WSA,AL,1962,599,716,60,0.308,0.373,0.250,No,,162,Washington Senators

In [10]:
# Confirm there are now no missing data in the dataframe

initial_df.isna().sum()

Team              0
League            0
Year              0
RS                0
RA                0
Wins              0
OBP               0
SLG               0
BA                0
Playoffs          0
PlayoffsFinish    0
Games             0
Team Name         0
dtype: int64

In [11]:
# Evaluate how the data is stored in each column

initial_df.dtypes

Team               object
League             object
Year                int64
RS                  int64
RA                  int64
Wins                int64
OBP               float64
SLG               float64
BA                float64
Playoffs           object
PlayoffsFinish     object
Games               int64
Team Name          object
dtype: object

In [12]:
# Initialize packages to support web scrapping

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import time

# Set up Chrome
options = Options()
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)

# Load the page
url = "https://www.baseball-reference.com/leagues/majors/2012.shtml"
driver.get(url)
time.sleep(3)

# Find the table
table = driver.find_element(By.ID, "teams_standard_batting")
rows = table.find_elements(By.TAG_NAME, "tr")

# Create lists to later append
tm = []
hr = []

# Create a loop after skipping header to find record in 'Tm' and 'Hr' rows and append to lists
for row in rows[1:]:
    records = row.find_elements(By.TAG_NAME, "td")
    
    if len(records) > 0:
        team_name = row.find_element(By.TAG_NAME, "th").text
        home_runs = records[10].text
        if team_name != "" and "League Average" not in team_name:
            tm.append(team_name)
            hr.append(home_runs)


# Load scrapped data into a Pandas dataframe

year = 2012

homerun_df = pd.DataFrame({
    'Team Name': tm,
    'Home Runs': hr,
    'Year': year
})

homerun_df

                        Team Name Home Runs  Year
0            Arizona Diamondbacks       165  2012
1                  Atlanta Braves       149  2012
2               Baltimore Orioles       214  2012
3                  Boston Red Sox       165  2012
4                    Chicago Cubs       137  2012
5               Chicago White Sox       211  2012
6                 Cincinnati Reds       172  2012
7               Cleveland Indians       136  2012
8                Colorado Rockies       166  2012
9                  Detroit Tigers       163  2012
10                 Houston Astros       146  2012
11             Kansas City Royals       131  2012
12  Los Angeles Angels of Anaheim       187  2012
13            Los Angeles Dodgers       116  2012
14                  Miami Marlins       137  2012
15              Milwaukee Brewers       202  2012
16                Minnesota Twins       131  2012
17                  New York Mets       139  2012
18               New York Yankees       245  2012
19              Oakland Athletics       195  2012
20          Philadelphia Phillies       158  2012
21             Pittsburgh Pirates       170  2012
22               San Diego Padres       121  2012
23               Seattle Mariners       149  2012
24           San Francisco Giants       103  2012
25            St. Louis Cardinals       159  2012
26                 Tampa Bay Rays       175  2012
27                  Texas Rangers       200  2012
28              Toronto Blue Jays       198  2012
29           Washington Nationals       194  2012

In [13]:
# Rename the team to match the initial data

homerun_df['Team Name'] = homerun_df['Team Name'].replace({
    'Los Angeles Angels of Anaheim': 'Los Angeles Angels'
})

In [14]:
# Merge the scrapped data onto the initial dataframe from Kaggle

final_initial = pd.merge(initial_df, homerun_df, on = ['Team Name','Year'], how = 'left')
final_initial

,Team,League,Year,RS,RA,Wins,OBP,SLG,BA,Playoffs,PlayoffsFinish,Games,Team Name,Home Runs
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,No,,162,Arizona Diamondbacks,165
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,Yes,5.0,162,Atlanta Braves,149
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,Yes,4.0,162,Baltimore Orioles,214
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,No,,162,Boston Red Sox,165
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,No,,162,Chicago Cubs,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,PHI,NL,1962,705,759,81,0.330,0.390,0.260,No,,161,Philadelphia Phillies,NaN
1228,PIT,NL,1962,706,626,93,0.321,0.394,0.268,No,,161,Pittsburgh Pirates,NaN
1229,SFG,NL,1962,878,690,103,0.341,0.441,0.278,Yes,2.0,165,San Francisco Giants,NaN
1230,STL,NL,1962,774,664,84,0.335,0.394,0.271,No,,163,St. Louis Cardinals,NaN
1231,WSA,AL,1962,599,716,60,0.308,0.373,0.250,No,,162,Washington Senators,NaN

In [15]:
# Displaying the one page of additional data that was scrapped

final_initial[final_initial['Year'] == 2012]

,Team,League,Year,RS,RA,Wins,OBP,SLG,BA,Playoffs,PlayoffsFinish,Games,Team Name,Home Runs
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,No,,162,Arizona Diamondbacks,165
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,Yes,5.0,162,Atlanta Braves,149
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,Yes,4.0,162,Baltimore Orioles,214
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,No,,162,Boston Red Sox,165
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,No,,162,Chicago Cubs,137
5,CHW,AL,2012,748,676,85,0.318,0.422,0.255,No,,162,Chicago White Sox,211
6,CIN,NL,2012,669,588,97,0.315,0.411,0.251,Yes,4.0,162,Cincinnati Reds,172
7,CLE,AL,2012,667,845,68,0.324,0.381,0.251,No,,162,Cleveland Indians,136
8,COL,NL,2012,758,890,64,0.330,0.436,0.274,No,,162,Colorado Rockies,166
9,DET,AL,2012,726,670,88,0.335,0.422,0.268,Yes,2.0,162,Detroit Tigers,163
10,HOU,NL,2012,583,794,55,0.302,0.371,0.236,No,,162,Houston Astros,146
11,KCR,AL,2012,676,746,72,0.317,0.400,0.265,No,,162,Kansas City Royals,131
12,LAA,AL,2012,767,699,89,0.332,0.433,0.274,No,,162,Los Angeles Angels,187
13,LAD,NL,2012,637,597,86,0.317,0.374,0.252,No,,162,Los Angeles Dodgers,116
14,MIA,NL,2012,609,724,69,0.308,0.382,0.244,No,,162,Miami Marlins,137
15,MIL,NL,2012,776,733,83,0.325,0.437,0.259,No,,162,Milwaukee Brewers,202
16,MIN,AL,2012,701,832,66,0.325,0.390,0.260,No,,162,Minnesota Twins,131
17,NYM,NL,2012,650,709,74,0.316,0.386,0.249,No,,162,New York Mets,139
18,NYY,AL,2012,804,668,95,0.337,0.453,0.265,Yes,3.0,162,New York Yankees,245
19,OAK,AL,2012,713,614,94,0.310,0.404,0.238,Yes,4.0,162,Oakland Athletics,195
20,PHI,NL,2012,684,680,81,0.317,0.400,0.255,No,,162,Philadelphia Phillies,158
21,PIT,NL,2012,651,674,79,0.304,0.395,0.243,No,,162,Pittsburgh Pirates,170
22,SDP,NL,2012,651,710,76,0.319,0.380,0.247,No,,162,San Diego Padres,121
23,SEA,AL,2012,619,651,75,0.296,0.369,0.234,No,,162,Seattle Mariners,149
24,SFG,NL,2012,718,649,94,0.327,0.397,0.269,Yes,1.0,162,San Francisco Giants,103
25,STL,NL,2012,765,648,88,0.338,0.421,0.271,Yes,3.0,162,St. Louis Cardinals,159
26,TBR,AL,2012,697,577,90,0.317,0.394,0.240,No,,162,Tampa Bay Rays,175
27,TEX,AL,2012,808,707,93,0.334,0.446,0.273,Yes,5.0,162,Texas Rangers,200
28,TOR,AL,2012,716,784,73,0.309,0.407,0.245,No,,162,Toronto Blue Jays,198
29,WSN,NL,2012,731,594,98,0.322,0.428,0.261,Yes,4.0,162,Washington Nationals,194

In [16]:
# Rename the columns for better readability

final_initial = final_initial[['Team', 'Team Name', 'League', 'Year',
                               'Games', 'Wins', 'Home Runs', 'RS', 'RA', 'OBP', 'SLG',
                               'BA', 'Playoffs', 'PlayoffsFinish' ]]
final_initial

,Team,Team Name,League,Year,Games,Wins,Home Runs,RS,RA,OBP,SLG,BA,Playoffs,PlayoffsFinish
0,ARI,Arizona Diamondbacks,NL,2012,162,81,165,734,688,0.328,0.418,0.259,No,
1,ATL,Atlanta Braves,NL,2012,162,94,149,700,600,0.320,0.389,0.247,Yes,5.0
2,BAL,Baltimore Orioles,AL,2012,162,93,214,712,705,0.311,0.417,0.247,Yes,4.0
3,BOS,Boston Red Sox,AL,2012,162,69,165,734,806,0.315,0.415,0.260,No,
4,CHC,Chicago Cubs,NL,2012,162,61,137,613,759,0.302,0.378,0.240,No,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,PHI,Philadelphia Phillies,NL,1962,161,81,NaN,705,759,0.330,0.390,0.260,No,
1228,PIT,Pittsburgh Pirates,NL,1962,161,93,NaN,706,626,0.321,0.394,0.268,No,
1229,SFG,San Francisco Giants,NL,1962,165,103,NaN,878,690,0.341,0.441,0.278,Yes,2.0
1230,STL,St. Louis Cardinals,NL,1962,163,84,NaN,774,664,0.335,0.394,0.271,No,
1231,WSA,Washington Senators,AL,1962,162,60,NaN,599,716,0.308,0.373,0.250,No,

In [17]:
# Save the transformed datasets within the merged dataframe into a .csv file

final_initial.to_csv('project_proposal_dataset.csv', header = True, index = False, encoding = 'utf-8')